/* COMMON */
body {
  /* 
  color:  red;
  font-size: 100px;
   */
  color: #333; 
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  /* height: 3000px; */ /* 10.3 임시지정 */
}
img {
  display: block; /*image 아래 여백 사라짐 */

}
a {
  text-decoration: none;
}
.inner { /* 7.6 가운데 정렬 */
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
  /* Button */  /* v 2. 1*/
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {    /* v 2. 2*/
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse { /* v 2. 2*/
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse:hover { /* v 2. 2*/
  background-color: transparent;
  color: #333;
} 
.btn.btn--brown {       /* v 2. 2*/
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover {     /* v 2. 2*/
  color: #fff;
  background-color: #592B18;
}

.btn.btn--gold {       /* v 2. 2*/
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {     /* v 2. 2*/
  color: #fff;
  background-color: #D9AA8A;
}

.btn.btn--white {       /* v 2. 2*/
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {     /* v 2. 2*/
  color: #333;
  background-color: #fff;
}
    /* BACK TO POSITION */
    /* RESERVE COFFE 작업 후 => scrollMagic Animation효과 */
.back-to-position {           /* sa 1-1 */
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {    /* sa 1-1 */
  transform: translateX(-150px);
}
.back-to-position.to-left {     /* sa 1-1 */
  transform: translateX(150x);
}
.show .back-to-position {       /* sa 1-1 */
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {   /* sa 1-2 */
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {    /* sa 1-2 */
  transition-delay: .3s;
}
.show .back-to-position.delay-2 {    /* sa 1-2 */
  transition-delay: .6s;
}
.show .back-to-position.delay-3 {    /* sa 1-2 */
  transition-delay: .9s;
}

/* HEADER */
header { /* 2. header 1 */
  width: 100%;  /* 10.3  badge scroll 고정 작업 */
  background-color:  #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  /*position: relative; *//* 10. 1 위치상 부모요소*/
  position: fixed;  /* 10. 3  fixed : 최소한으로 줄어드려는 속성*/
  top: 0; /* 10. 3*/
  z-index: 9; /* v 1. 3 */
}

header > .inner { /* 2. header 2 */
  /*width: 1100px;*/    /* 7.7 COMMON .inner 중복으로 중복된 코드 제거 */
  height: 120px;
  /* margin: 0 auto; */  /* 7.7 COMMON .inner 중복으로 중복된 코드 제거 */
  /* background-color: orange; */
  /*position: relative;*/ /*수직가운데 배치 4 */ /* 7.7 COMMON .inner 중복으로 중복된 코드 제거 */
}

header .logo { /* 2. header 3 */
  height: 75px;
  position: absolute; /*수직 가운데 배치 1 */
  top: 0;  /* 수직가운데 배치 2 */
  bottom: 0;  /* 수직가운데 배치 2 */
  left: 0; /* 수직가운데 배치 2 */
  margin: auto; /*수직가운데 배치 3 */
  /* display: none; *//*화면에서 잠시 삭제 */
}
  /* SUB MENU */
header .sub-menu { /* search 4. 5*/
  /* display: flex;    */
  position: absolute; /* 6. 1 화면우측 상단 정렬 */
  top: 10px;  /* 6. 1 화면우측 상단 정렬 */
  right: 0;   /* 6. 1 화면우측 상단 정렬 */
  display: flex; /* 6. 2 화면우측 상단 정렬 */
}

header .sub-menu ul.menu {  /* 3. submenu 2 */
  font-family: Arial, sans-serif;
  display: flex;

}

header .sub-menu ul.menu li { /* 3. submenu 3-2 */
  position: relative;
}

header .sub-menu ul.menu li::before { /* 3. submenu 3 */
  content: ""; /* ::before 가상요소시 반드시 사용 */
  /* display: block;  */ /* position: absolute; =>로 자동 block요소로 바뀜 */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto ;
}

header .sub-menu ul.menu li:first-child:before { /* 3. submenu 5 */
  display: none;
} 

header .sub-menu ul.menu li a { /* 3. submenu 1 */
  background-color: white;
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
  /* text-decoration: none; */

}
header .sub-menu ul.menu li a:hover { /* 3. submenu 4 */
  color: #000;
}
header .sub-menu .search {  /* search 4. 1*/  
  height: 34px;
  position: relative; /* search 4. 4-2*/
}

header .sub-menu .search  input { /* search 4. 2*/
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px dolid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
  
}
header .sub-menu .search  input:focus { /* search 4. 3*/
  width: 190px;
  border-color: #669900;

}  
header .sub-menu .search .material-icons{  /* search 4. 4*/
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;  /* 자바스크립트로 추가된 search foucus  5. 2 */
}

header .sub-menu .search.focused .material-icons{  /* 자바스크립트로 추가된 search foucus  5. 1 */
  opacity: 0;
} 


  /* Main Menu */
header .main-menu{  
  position: absolute; /* 7.3-2 */
  bottom: 0;  /* 7.3-2 */
  right: 0;   /* 7.3-2 */
  z-index: 1; /* 7.3-2 */
  display: flex;   /* 7.1 */
}  

header .main-menu .item {

}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;   /* 7.2 */
  font-family: Arial, sans-serif; /* 7.2 */

}

header .main-menu .item:hover .item__name { /* 7.3 */
  background-color: #2c2a29;  /* 7.3 */
  color: #669900;             /* 7.3 */
  border-radius: 6px 6px 0 0;   /* 7.3 */
}  

header .main-menu .item .item__contents {   /* 7.6 */
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}   

header .main-menu .item:hover .item__contents { /* 7.7 */
  display: block;
} 

header .main-menu .item:hover .item__contents .contents__menu{ /* 7.4 */
  background-color: #2c2a29;  /* 7.4 */ /* red -> #2c2a29 8.2 색상변경 */
  /*height: 200px; */   /* 7.4 */ /* 8.2 .contents__menu 하위속성부여로 막음 */
}

    /* contents__menu */
header .main-menu .item:hover .item__contents .contents__menu > ul { /* 8.1 */ 
  display: flex;  /* 8.1 */ 
  padding: 20px 0;  /* 8.1 */ 
}

header .main-menu .item:hover .item__contents .contents__menu > ul > li { /* 8.1 */ 
  width: 220px; /* 8.1 */ 
}

header .main-menu .item:hover .item__contents .contents__menu > ul > li h4 { /* 8.1 */ 
  padding: 2px 0 12px 0; /* 8.1 */ 
  font-size: 14px;  /* 8.1 */ 
  color: #fff;  /* 8.1 */ 
}
/* 8.1 */ 
/* 사용하지 않으므로 삭제
header .main-menu .item:hover .item__contents .contents__menu > ul > li ul { 

}
*/
header .main-menu .item:hover .item__contents .contents__menu > ul > li ul li { /* 8.1 */ 
  padding: 5px 0; /* 8.1 */
  font-size: 12px; /* 8.1 */
  color : #999; /* 8.1 */
  cursor: pointer;  /* 8.1 */
}

header .main-menu .item:hover .item__contents .contents__menu > ul > li ul li:hover { /* 9.1 */ 
  color: #669900;
}  
header .main-menu .item:hover .item__contents .contents__texture{ /* 7.5 */
  /*background-color: orange;*/  /* 7.5 */ /* 8.2 막음 */
  /*height: 200px; */     /* 7.5 */ /* 8.2 막음 */  
  padding: 26px 0;
  font-size: 12px;  /* 8.2 */
  background-image: url("/images/main_menu_pattern.jpg");
} 
    /* contents__texture */
header .main-menu .item:hover .item__contents .contents__texture h4{ /* 8.2 */
  color: #999;  /* 8.2 */
  font-weight: 700; /* 8.2 */
  /* font-size: 12px; */  /* 8.2 부모로 이동 */
}

header .main-menu .item:hover .item__contents .contents__texture p{ /* 8.2 */
  color: #669900;   /* 8.2 */
  margin: 4px 0 14px; /* 8.2 */
  /* font-size: 12px; */  /* 8.2 부모로 이동 */
}

  /* Badge */
header .badges {  /* 10. 1 */
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge { /* 10. 2 */
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, .15);
  cursor: pointer;
}


/* VISUAL */
.visual {     /* v 1. 1 */
  margin-top: 120px;
  background-image: url("/images/visual_bg.jpg");
  background-position: center;
}

.visual .inner {  /* v 1. 1 */
  height: 646px;
  /* background-color: orange; */ /* v 1. 3 */
  
}

.visual .title { /* .visual .inner .title --> .inner생략 */
  position: absolute; /* v 1. 1 */ /* 부모요소 .inner 공통속성적용되어있음*/
  top: 88px;    /* v 1. 1 */
  left: -10px;   /* v 1. 1 */
}

.visual .title .btn{   /* v 1. 4 */
  position: absolute;
  top: 259px;
  left: 173px; 
}

.visual .cup1.image {  /* v 1. 2 */
  position: absolute;   /* v 1. 2 */
  bottom: 0;            /* v 1. 2 */
  right: -47px;         /* v 1. 2 */
}

.visual .cup1.text {
  position: absolute;   /* v 1. 2 */
  top: 38px;            /* v 1. 2 */
  right: 171px;         /* v 1. 2 */ 
}

.visual .cup2.image {
  position: absolute;   /* v 1. 2 */
  bottom: 0;            /* v 1. 2 */
  right: 162px;         /* v 1. 2 */
}

.visual .cup2.text {
  position: absolute;   /* v 1. 2 */
  top: 321px;            /* v 1. 2 */
  right: 416px;         /* v 1. 2 */ 
}

.visual .spoon {
  position: absolute;  /* v 1. 2 */
  bottom: 0;           /* v 1. 2 */
  left: 275px;         /* v 1. 2 */
}

.visual .fade-in {    /* v 2. 1 */
  opacity: 0;
}

/* NOTICE */
.notice {
  
}

.notice .notice-line {
 position: relative; /* n 1.3 */
}

.notice .notice-line .bg-left { /* n 1.2 */
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.notice .notice-line .bg-right {  /* n 1.3 */
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef ;
}

.notice .notice-line .inner {
  height: 62px;       /* n 1.1 */
  /* border: 2px solid red;  */ /* n 1.5 */
  display: flex; /* n 1.6 */
}

.notice .notice-line .inner__left {  /* n 1.5 */
 width: 60%;
 height: 100%;
 background-color: #333;
 display: flex; /* n 1.6 */
 align-items: center; /* n 1.8 */
}  
.notice .notice-line .inner__left h2{   /* n 1.6 */
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}  
.notice .notice-line .inner__left .swiper-container{ 
  height: 62px; /* n 1.8 */
  /*background-color: orange;*/ /* n 1.6 */
  flex-grow: 1;  /* n 1.7 */
}

.notice .notice-line .inner__left .swiper-slide { /* n 1.12 */
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a { /* n 1.12 */
  color: #fff;
}

.notice .notice-line .inner__left .notice-line__more{ /* n 1.8 */
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons{ /* n 1.7 */
  color: #fff;
  font-size: 30px;
}    
.notice .notice-line .inner__right {   /* n 1.9 */
 width: 40%;
 height: 100%; 
 display: flex;             /* n 1.11 */
 justify-content: flex-end; /* n 1.11 */
 align-items: center;       /* n 1.11 */
} 

.notice .notice-line .inner__right h2{   /* n 1.9 */
  font-size: 17px;          /* n 1.11 */
  font-weight: 700;         /* n 1.11 */
}

.notice .notice-line .inner__right .toggle-promotion{   /* n 1.9 */
  width: 62px;              /* n 1.10 */
  height: 62px;             /* n 1.10 */
  cursor: pointer;          /* n 1.10 */
  display: flex;            /* n 1.10 */
  justify-content: center;  /* n 1.10 */
  align-items: center;      /* n 1.10 */
}

.notice .notice-line .inner__right .toggle-promotion .material-icons{   /* n 1.9 */
  font-size: 30px;          /* n 1.9 */
}

    /* PROMOTION */
.notice .promotion {      /* p 1.1 */
  height: 693px;  
  background-color: #f6f5ef;
  position: relative; /* p 1.2 */
  transition: height .4s; /* p 1.19 Toggle Promotion */
  overflow: hidden;       /* p 1.19 Toggle Promotion */
}

      /* p 1.18 Toggle Promotion */
.notice .promotion.hide {    /* .promotion.hide : 일치선택자(띄어쓰기 없음 주의) */    
          /* p 1.19 Toggle Promotion */
  height: 0;        
}  
.notice .promotion .swiper-container {  /* p 1.2 */
  width: calc(819px * 3 + 20px);
  /* width: calc(100% - 50px); */
  height: 553px;
  /* background-color: orange; */
  /* text-align: center; */
  /* font-size: 200px; */
  position: absolute;
  top: 40px;  /* p 1.3 */
  left: 50%;  /* p 1.3 */
  margin-left: calc((819px * 3 + 20px)/-2); /*가로너비/2 = 2477/2=1238.5 */ /* p 1.3 */
}

.notice .promotion .swiper-slide {  /* p 1.6 */
  opacity: .5;
  transition: opacipty 1s;
  position: relative; /* p 1.8 */
}

.notice .promotion .swiper-slide-active {  /* p 1.7 */
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {  /* p 1.8 */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;  
} 


.notice .promotion .swiper-pagination {  /* p 1.9 */
  bottom:  40px;
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet { /* p 1.10 */
  background-color: transparent;  /* p 1.12 */
  background-image: url("../images/promotion_slide_pager.png"); /* p 1.10 */
  width: 13px;    /* p 1.10 */
  height: 12px;   /* p 1.10 */
  margin-right: 6px;    /* p 1.10 */
  outline: none;        /* p 1.10 */
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child { /* p 1.11 */
  margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active { /* p 1.12 */
  background-image: url("/images/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-prev,  
.notice .promotion .swiper-next {  /* p 1.13 */ /* 다중 선택자 : 공통속성만 정의*/
  width:  42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;          /* p 1.16 */ 
  justify-content: center;  /* p 1.16 */ 
  align-items: center;      /* p 1.16 */ 
  transition: .4s;          /* p 1.16 */ 
}


.notice .promotion .swiper-prev { /* p 1.14 */ 
  left: 50%;
  margin-left: -480px;
}  

.notice .promotion .swiper-next {   /* p 1.15 */ 
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {  /* p 1.17 */ 
  background-color: #333;
  color: #fff;
}

/* REWARDS */
.rewards {  /* r 1.1 */
  position: relative;   /* r 1.3 */
}

.rewards .bg-left {  /* r 1.3 */
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right {  /* r 1.4 */
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
.rewards .inner { /* r 1.2 */
  background-image: url("/images/rewards.jpg");
  height: 241px;;
}

.rewards .btn-group {    /* r 1.5 */
  position: absolute;   /* r 1.8 */
  right: 0;             /* r 1.8 */
  bottom: 24px;         /* r 1.8 */  
  width: 250px;         /* r 1.5 */
  display: flex;        /* r 1.5 */
  flex-wrap: wrap;      /* r 1.5 */
}

.rewards .btn-group .btn.sign-up {  /* r 1.5 */
  margin-right: 10px; /* r 1.7 */
}

.rewards .btn-group .btn.sign-in {    /* r 1.5 */
  width: 110px; /* r 1.6 */
}

.rewards .btn-group .btn.gift { /* r 1.5 */
  margin-top: 10px;     /* r 1.9 */
  flex-grow: 1;         /* r 1.9 */
}

/* YOUTUBE VIDEO  */
.youtube {    /* y 1.1 */
  position: relative; /* y 1.4 */
  height: 700px;      /* y 1.4 */
  background-color: #333;    /* y 1.4 */
  overflow: hidden; /* y 1.6 */
}

.youtube .youtube__area {   /* y 1.1 */
  width: 1920px;               /* y 1.1 */
  background-color: orange;   /* y 1.1 */
  position: absolute; /* y 1.3 */
  left: 50%;    /* y 1.4 */  /* 16비율 */
  margin-left: calc(1920px / -2);   /* y 1.4 */
  top: 50%; /* y 1.5 */   /* 9비율 */
  margin-top: calc(1920px * 9 / 16 / -2);  /* y 1.5 */
}

.youtube .youtube__area::before {   /* y 1.2 */ /*화면의 스타일을 위한 요소 영역 */
  content: "";
  display: block;   /* 가상요소 inline을 block영역으로 */
  width: 100%;  /* 16:9 영상비율로 요소 크기 만들기 */
  height: 0;
  padding-top: 56.25%;  /* 16:9비율 */
}  
.youtube .youtube__cover {    /* y 1.1 */
  background-image: url("/images/video_cover_pattern.png");   /* y 1.7 */
  background-color: rgba(0,0,0,.3);   /* y 1.7 */
  position: absolute;   /* y 1.7 */
  top: 0;     /* y 1.7 */
  width: 100%;    /* y 1.7 */
  height: 100%;   /* y 1.7 */
} 

#player { /* y 1.9 유투브동영상*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner{    /* y 1.10 floating image */
  height: 700px;
  /* background-color: royalblue;   */
}

.youtube .floating1 { /* y 1.11 floating image */
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .floating2 { /* y 1.12 floating image */
  position: absolute;
  top: 350px;
  left: 150;
}
      /* y 1.13 floating image --> 이미지 잘림 문제점*/
      /*  해결방법 .season-product .inner 로 html tag와 속성 모두 옮김
.youtube .floating3 { 
  position: absolute;
  bottom: -200px;
  right: 0;
}
*/
/*  SEASON PRODUCT  */
.season-product {   /* s 1.1 */
  background-image: url("/images/season_product_bg.jpg");   /* s 1.1 */
}

.season-product .inner{     /* s 1.1 */
  height: 400px;    /* s 1.1 */
}

.season-product  .floating3 { /* s 1.4  y 1.13 floating image --> 이미지 잘림 문제점 해결방법*/
  position: absolute;
  /* bottom: -200px; */
  top: -200px;/* s 1.4 */
  right: 0;
}

.season-product .inner .text-group {  /* s 1.2 */
  position: absolute;
  top: 110px;
  right: 100px;
}  

.season-product .inner .text-group .title {   /* s 1.3 */
  margin-bottom: 10px;
}  

.season-product .inner .text-group .description { /* s 1.3 */
  margin-bottom: 15px;
}  

.season-product .inner .text-group .more {
  
}

/* RESERVE COFFEE */
.reserve-coffee {         /* r 1.1 */
  background-image: url("/images/reserve_bg.jpg");
}

.reserve-coffee .inner {      /* r 1.1 */
  height: 400px;  
}

.reserve-coffee .reserve-logo {   /* r 1.2 */
   position: absolute; 
   top: 110px;
   left:  0;
}

.reserve-coffee .text-group { /* r 1.3 */
  position: absolute;
  top: 124px;
  left: 208px;
}

.reserve-coffee .product {    /* r 1.4 */
  position: absolute;
  top: 0;
  right: 0;
}

/* PiCK YOUR FAVORITE */
.pick-your-favorite {   /* f 1.1 */
  background-image: url("/images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.pick-your-favorite .inner {      /* f 1.2 */
  padding: 110px 0;
}

.pick-your-favorite .text-group {   /* f 1.3 */
  /* background-color: orange; */ /* f 1.3 */  /* f 1.5 */
  margin-left: 100px;               /* f 1.5 */
  width: 320px;                     /* f 1.3 */
  display: flex;                    /* f 1.3 */
  flex-wrap: wrap;                  /* f 1.3 */
  justify-content: flex-end;        /* f 1.3 */

}

.pick-your-favorite .text-group .title{   /* f 1.4 */
  margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {    /* f 1.4 */
  margin-bottom: 40px;
}


/* RESERVE STORE */
.reserve-store {      /* rs 1.1 */
  background-image: url("/images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.reserve-store .inner{    /* rs 1.2 */
  height: 600px;
  display: flex;    /* rs 1.7 */
  justify-content: center;  /* rs 1.7 */
  align-items: center;      /* rs 1.7 */
}

.reserve-store .medal { /* rs 1.6 */
  width: 334px;
  height: 334px;
  perspective: 600px;
}

.reserve-store .medal .front,   
.reserve-store .medal .back     /* rs 1.3 */
{ 
  width: 334px;
  height: 334px;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s; /* rs 1.5 */
}

.reserve-store .medal .front {  /* rs 1.4 */
  /* position: absolute; */   /* rs 1.6 주석*/
  transform: rotateY(0deg);
}

.reserve-store .medal:hover .front {  /* rs 1.4 */
  transform: rotateY(180deg);
}  
.reserve-store .medal .back {     /* rs 1.4 */
  transform: rotateY(-180deg);
}

.reserve-store .medal:hover .back {   /* rs 1.4 */
  transform: rotateY(0deg);
}


.reserve-store .medal .back .btn{   /* rs 1.6 */
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

/* FIND STORE */
.find-store {           /* fs 1.1 */
  background-image: url("/images/find_store_bg.jpg");  /* fs 1.1 */
}

.find-store .inner {  /* fs 1.1 */
  height: 400px;     
}

.find-store .texture1 { /* fs 1.2 */
  position: absolute;
  top: 0;
  left: 400px;
}

.find-store .texture2 { /* fs 1.3 */
  position: absolute;
  bottom: 0;
  right: 0;
}

.find-store .picture {  /* fs 1.5 */
  border-radius: 50%; /* fs 1.5 */
  box-shadow: 2px 2px 8px 0 rgba(0,0, 0,.5);  /* fs 1.5 */
  position: absolute; /* fs 1.6 */
}

.find-store .picture1 { /* fs 1.4 */
  /* position: absolute; */ /* fs 1.6 */
  top: -60px;
  left: 0;
}

.find-store .picture2 { /* fs 1.4 */
  /* position: absolute; */ /* fs 1.6 */
  top: 150px;
  left: 250px;
}

.find-store .text-group { /* fs 1.7 */
  position: absolute; 
  top: 120px;
  left: 550px;
}

.find-store .text-group .title {  /* fs 1.8 */
  margin-bottom: 20px;
}  

.find-store .text-group .description {  /* fs 1.8 */
  margin-bottom: 20px;
}
  

/* AWARDS */
.awards {   /* aw 1.1 */
  background-color: #272727;
}

.awards .inner {      /* aw 1.1 */
  padding: 40px 0;
}

.awards .swiper-container {     /* aw 1.1 */
  width: 100%;
  height: 40px;
}

.awards .swiper-prev,
.awards .swiper-next {  /* aw 1.2 */
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: .4s;
}

.awards .swiper-prev {  /* aw 1.2 */
  left: -100px;
}

.awards .swiper-next {  /* aw 1.3 */
  right: -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover {  /* aw 1.4 */
  background-color: #fff;
  color: #333;
}  

/* FOOTER */
footer {      /* fo 1.1 */
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner { /* fo 1.1 */
  padding: 40px 0 60px 0;
}

footer .menu {  /* fo 1.1 */
  display: flex;
  justify-content: center;
}

footer .menu li { /* fo 1.3 */
  position: relative;/* fo 1.4 */
}

footer .menu li::before { /* fo 1.3 */
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute; /* 자동 block */
  top: 0;
  bottom: 0;
  right: -1;
  margin: auto;
}  
footer .menu li:last-child:before { /* fo 1.5 */
  display: none;
}  
footer .menu li a {   /* fo 1.2 */
  color:#ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}
footer .menu li a.green { /* fo 1.2 */
  color: #669900;
}
footer .btn-group {     /* fo 1.6 */
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {    /* fo 1.6 */
  font-size: 12px;
  margin-right: 10px;

}
footer .btn-group .btn:last-child {   /* fo 1.6 */
  margin-right: 0;
}
footer .info {      /* fo 1.7 */
  margin-top: 30px;
  text-align: center;
}
footer .info span{    /* fo 1.7 */
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {    /* fo 1.7 */
  margin-right: 0;  
}

footer .copyright {   /* fo 1.8 */
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

footer .logo {    /* fo 1.9 */
  margin: 30px auto 0;

}

/* TO UPWARD HOME  */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}

